- name: Update status.json
  run: |
    TIME_NOW=$(date -u +"%Y-%m-%d %H:%M:%S UTC")
    # Store output in local bash variable
    SITE_STATUS="${{ steps.check_site.outputs.STATUS }}"
    
    if [ "$SITE_STATUS" = "200" ]; then
      STATUS="UP"
    else
      STATUS="DOWN"
    fi

    cat <<EOF > status.json
{
  "url": "https://www.cinepolis.com/in",
  "status": "$STATUS",
  "status_code": "$SITE_STATUS",
  "checked_at": "$TIME_NOW"
}
EOF

    git config user.name "GitHub Actions"
    git config user.email "actions@github.com"
    git add status.json
    git commit -m "Update status.json: $STATUS" || echo "No changes"
    git push
