name: Uptime Monitor

on:
  schedule:
    - cron: "*/1 * * * *"   # Run every 1 minute
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create logs folder
        run: mkdir -p logs

      - name: Check Cinepolis Status
        id: ping
        run: |
          URL="https://www.cinepolis.com/in"
          STATUS=$(curl -s -o /dev/null -w "%{http_code}" $URL)
          TIME=$(date -u +"%Y-%m-%d %H:%M:%S UTC")

          echo "{ \"time\": \"$TIME\", \"status\": \"$STATUS\" }," >> logs/status.json
          echo "status=$STATUS" >> $GITHUB_OUTPUT

      - name: Commit logs
        run: |
          git config --global user.name "actions"
          git config --global user.email "actions@github.com"
          git add logs/status.json
          git commit -m "Update logs" || echo "No changes"
          git push
