name: Cinepolis Website Uptime

on:
  schedule:
    - cron: "*/1 * * * *"   # every 1 minute
  workflow_dispatch:        # manual run button enable

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Check website status
        run: |
          STATUS=$(curl -o /dev/null -s -w "%{http_code}\n" https://cinepolis.com/in)
          echo "HTTP Status: $STATUS"
          if [ "$STATUS" != "200" ]; then
            echo "Site DOWN"
            exit 1
          fi
          echo "Site UP"
